C:/Users/r4yn1/OneDrive/Documents/UNIVERSIDAD filter=lfs diff=lfs merge=lfs -text
TECNOLOGICA filter=lfs diff=lfs merge=lfs -text
NACIONAL filter=lfs diff=lfs merge=lfs -text
PROGRAMACION/Practica filter=lfs diff=lfs merge=lfs -text
w3 filter=lfs diff=lfs merge=lfs -text
school/javascript/TutorialYoutube/JavaScript/VideoProyect/VideoSourse/takanaka.mp4 filter=lfs diff=lfs merge=lfs -text
C:/Users/r4yn1/OneDrive/Documents/UNIVERSIDAD filter=lfs diff=lfs merge=lfs -text
PROGRAMACION/Practica filter=lfs diff=lfs merge=lfs -text
school/javascript/TutorialYoutube/JavaScript/VideoProyect/VideoSourse/takanaka.mp4 filter=lfs diff=lfs merge=lfs -text
TutorialYoutube/JavaScript/VideoProyect/VideoSourse/takanaka.mp4 filter=lfs diff=lfs merge=lfs -text
